.badge {
       top: 2%;
       right: 1%;
}

#sessionStatus p {
       margin-bottom: 0px;
}

.user.dropdown-menu{
       --bs-dropdown-padding-y: 0.0rem;
}

#quizzList li:hover , #groupsList li:hover{
       cursor: pointer;
}