@import "/bootstrap/css/bootstrap.css";
@import '../../node_modules/bootstrap/scss/functions';
@import "../../node_modules/bootstrap/scss/variables";;


.badge{
       top: 2%;
       right: 1%;
}
p{
       margin-bottom: 0px;
}